
public class calculadora {

	
	double valor1;
	double valor2;
	char recebe;
	
	
	double calculo ( double valor1,double valor2,double recebe ){
		return recebe= (valor1+valor2);
		
		
		
		
	}
	
	
	double calculo1 ( double valor1,double valor2,double recebe){
		
	
		return  recebe= (valor1*valor2);	
}
}
